body{
    overflow-x: hidden;
}
.header{
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: left;
    color: white;
}
.link,nav,a{
    display:flex;
    justify-content: space-around;
    gap:35px;
    font-size:15px;
    text-decoration:none;
    padding-top: 15px;
    color: white;
     }
.hii{
    
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/img1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:700px;

}
h2{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 28px;

}
.text1{
    display:flex;
    justify-content: center;
    font-size:96px;
    position: relative;
    bottom: 60px;
}
.text2{
    display:flex;
    justify-content: center;
    font-size:40px;
    position: relative;
    bottom: 120px;
}
.text{
 position:relative;
 top:140px;
}
.Lhead{
    margin-right: 160px;
    Color:rgb(28, 1, 1)
}
.Rhead{
    margin-right:80px;
    Color:rgb(28, 1, 1)
}

.left{
    margin-left: 100px;
    color:rgb(28, 1, 1);
    font-size: 20px;
}
.right{
    color:rgb(55, 3, 3);
    font-size: 20px; 
    margin-right:100px;
    color:rgb(28, 1, 1);
}
.background{
    margin-bottom:30px;
    background-color:rgb(68, 2, 2);
    height:40px;
    width:50;
    font-size:20px;
    color: white;
}
.rightback{
    margin-bottom:30px;
    background-color: rgb(227, 164, 76);
    height:40px;
    width:50;
    font-size:20px;
}
.background:hover{
  background-color:rgb(30, 1, 1);
}
.rightback:hover{
    background-color: rgb(93, 57, 5);
}

i{
    color: rgb(142, 86, 8);
}
.img{
    display: flex;
    justify-content: center;
    position:relative;
    bottom: 50px;

}
h1{
    display: flex;
    justify-content: center;
}
.lock{
    font-size: 60px;
    color: black;
}
.lo{
    position: relative;
    top: 50px;
}
.a{
    display: flex;
    font-size: 20px; 
    margin-left:140px;
    color: rgb(48, 29, 1);
    padding:20px;
}
   
.b{
    display: flex;
    font-size: 20px; 
    margin-right:110px;
    color: rgb(48, 29, 1);
    padding:20px;
}

.c{
    display: flex;
    font-size: 20px; 
    margin-left:140px; 
    color: rgb(48, 29, 1);
    padding:20px;
}

.d{
    display: flex;
    font-size: 20px; 
    margin-right:110px;
    color: rgb(48, 29, 1);
    padding:20px;
}
.off{
    font-size:35px;
    justify-content: center;
    background-image:linear-gradient(rgba(95, 95, 95, 0.8),rgba(0,0,0,0.8)), url(images/bg.jpg);
    background-repeat: no-repeat;
    color: rgb(227, 164, 76);
}
.off1{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 1300px;
    padding:20px;
    color: rgb(227, 164, 76);    
}

.hot{
    margin-left: 100px;
    color:rgb(28, 1, 1);
    font-size: 20px;
    padding: 10px;
}
.cold{
    font-size: 20px; 
    margin-right:100px;
    color:rgb(28, 1, 1);
    padding: 20px;
}

.cold img{
    border: 1px solid black;
    border-radius: 200px;
    height: 120px;
    width: 120px;
}
.hot img{
    border: 1px solid black;
    border-radius: 200px;
    height: 120px;
    width: 120px;
}
.Lhot{
    margin-right: 200px;
    Color:rgb(28, 1, 1)
}
.Rcold{
    margin-right: 100px;
    Color:rgb(28, 1, 1)
}
.jeev{
    border-radius:200px;
    background-color: rgb(227, 164, 76);
    height: 20px;
    width: 30px;
    padding: 10px;
    position: relative;
    right:40px;
    bottom: 40px;
}
.booking{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(images/bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:700px;
}
.offer{
    /* font-size: 80px; */
    color:white;
    position: relative;
    top: 140px;
    left:120px;
    /* margin-right: 500px;
    margin-bottom: 50px; */
}

#offer1{
    font-size: 70px;
    color:  rgb(151, 94, 14);
    margin-right: 100px;;
}
#offer2{
    font-size: 40px;
}

.book{
    font-size: 40px;
    color: white;
    background-color: rgba(51, 33, 29, .8);
    padding: 20px;;
}
#book1{
    font-size: 50px;
}
.de{
    background-color: rgba(51, 33, 29, .8);
    border:1px solid rgb(227, 164, 76);
}
#client1{
    font-size: 20px;
    padding:20px;
}

#footer{
    color: black;
    font-size: 25px;
    color:white;

}
#footer1{
    color: black;
    font-size: 25px;
    /* margin-right: 110px; */
    color:white;
    
}
#footer2{
    color: black;
    font-size: 20px;
    /* margin-left: 160px; */
    color: white;

}
#footer3{
    color: black;
    font-size: 25px;
    color:white;
    /* margin-left: 160px; */
}
.icon{
    color:black;
    color: white;
}
.icon1{
    color:black;
     /* margin-left:70px; */
     font-size: large;
     color: white;
   
}
pre{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color:white;
}
.signup{
    color: black;
    font-size: 20px;
  /* margin-left: 50px; */
    color:white;
}
.footer3{
    /* margin-left: 100px; */
    color:white;
    font-size: 13px;
}
.signup1{
    height: 100px;
    width: 400px;
    color: rgb(134, 87, 22);  }
#parag{
    margin-left: 160px;
}
.section8{
   background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)), url(images/bg.jpg);
}
.copyright{
    justify-content: center;
    color: white;
   margin-left: 500px;
   font-size: 20px;
}
.all{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    gap:20px;
    padding: 10px;px
}